@import "../styles/reset.css";
@import "../styles/tokens.css";
@import "../styles/utilities.css";

body {
  font-family:
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Noto Sans KR",
    sans-serif;
  color: var(--color-text);
  background: var(--color-bg);
  letter-spacing: -0.025em;
  word-break: keep-all;
}
